body {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
	margin-top: 40px;
	font-family: 'Arial';
}

#vuemainpage {
	margin: 0 20px;
    padding: 0;
}

.col-xs-6 {
	max-width: 100%;
	margin: 0 auto;
}

hr {
	display: none;
}


.notifycontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 22px;
}

.globalnotifier {
	display: none;
}


.notifyicon::before {
	position: relative;
	margin-right: 4px;
	top: 1px;
	left: 0px;
}

.fa-envelope,
.fa-bullhorn::before {
	position: relative;
	margin-right: 4px;
	top: 2px;
	left: 0px;
}


.bm-overlay {
    background: #fff;
}


.bm-overlay .bm-menu {
	left: 0;
}

.pagefilter_done {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.centered {
	margin: 0 0 10px 0;
}


.bm-menu {
	width: 260px;
	left: -100%;
	display: flex;
	padding: 40px 0 0 0;
	background-color: rgb(223, 223, 223, 0.9);
	transition: .1s;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='30px' height='30px' viewBox='0 0 710.000000 473.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,473.000000) scale(0.100000,-0.100000)' fill='%239f0000' stroke='none'%3e%3cpath d='M770 4280 l0 -190 -190 0 -190 0 0 -195 0 -195 190 0 190 0 0 -195 0 -195 190 0 190 0 2 193 3 192 193 3 192 2 0 195 0 195 -195 0 -195 0 0 190 0 190 -190 0 -190 0 0 -190z m378 -387 l-3 -188 -185 0 -185 0 -3 188 -2 187 190 0 190 0 -2 -187z'/%3e%3cpath d='M3830 4275 l0 -195 190 0 190 0 0 -190 0 -190 -190 0 -190 0 0 -190 0 -190 -190 0 -190 0 0 190 0 190 -190 0 -190 0 0 -195 0 -195 190 0 190 0 0 -185 0 -185 -190 0 -190 0 -2 -192 -3 -193 -187 -3 -188 -2 -2 192 -3 193 -192 3 -193 2 0 -195 0 -195 190 0 190 0 0 -190 0 -190 -190 0 -190 0 0 -195 0 -195 193 2 192 3 3 193 2 192 190 0 190 0 0 -195 0 -195 190 0 190 0 0 -185 0 -185 -190 0 -190 0 0 -195 0 -195 190 0 190 0 0 190 0 190 190 0 190 0 0 -190 0 -190 190 0 190 0 0 -190 0 -190 -190 0 -190 0 0 -190 0 -190 195 0 195 0 0 190 0 190 188 -2 187 -3 3 -188 2 -187 193 2 192 3 3 188 2 187 -195 0 -195 0 2 188 3 187 190 5 190 5 3 187 2 188 185 0 185 0 2 -187 3 -188 193 -3 192 -2 0 195 0 195 -190 0 -190 0 0 185 0 185 188 2 187 3 3 193 2 192 190 0 190 0 2 -192 3 -193 190 0 190 0 3 192 2 193 -192 2 -193 3 -3 187 -2 188 192 2 193 3 0 190 0 190 -192 3 -193 2 -2 -192 -3 -193 -187 -3 -188 -2 0 195 0 195 -190 0 -190 0 0 185 0 185 188 2 187 3 3 193 2 192 -195 0 -195 0 0 -190 0 -190 -185 0 -185 0 0 190 0 190 -192 2 -193 3 -3 187 -2 188 192 2 193 3 0 190 0 190 -192 3 -193 2 0 -190 0 -190 -190 0 -190 0 0 190 0 190 -195 0 -195 0 0 -195z m765 -1150 l0 -570 -187 -3 -188 -2 0 575 0 575 188 -2 187 -3 0 -570z m-385 -765 l0 -190 -567 2 -568 3 -3 188 -2 187 570 0 570 0 0 -190z m1538 3 l-3 -188 -570 0 -570 0 -3 188 -2 187 575 0 575 0 -2 -187z m-1150 -765 l-3 -573 -187 -3 -188 -2 0 575 0 575 190 0 190 0 -2 -572z'/%3e%3cpath d='M768 1218 l-3 -193 -187 -3 -188 -2 0 -190 0 -190 188 -2 187 -3 3 -187 2 -188 190 0 190 0 2 188 3 187 193 3 192 2 0 190 0 190 -192 2 -193 3 -3 193 -2 192 -190 0 -190 0 -2 -192z m382 -388 l0 -190 -190 0 -190 0 0 183 c0 101 3 187 7 190 3 4 89 7 190 7 l183 0 0 -190z'/%3e%3c/g%3e%3c/svg%3e"),url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='30px' height='30px' viewBox='0 0 710.000000 473.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,473.000000) scale(0.100000,-0.100000)' fill='%239f0000' stroke='none'%3e%3cpath d='M770 4280 l0 -190 -190 0 -190 0 0 -195 0 -195 190 0 190 0 0 -195 0 -195 190 0 190 0 2 193 3 192 193 3 192 2 0 195 0 195 -195 0 -195 0 0 190 0 190 -190 0 -190 0 0 -190z m378 -387 l-3 -188 -185 0 -185 0 -3 188 -2 187 190 0 190 0 -2 -187z'/%3e%3cpath d='M3830 4275 l0 -195 190 0 190 0 0 -190 0 -190 -190 0 -190 0 0 -190 0 -190 -190 0 -190 0 0 190 0 190 -190 0 -190 0 0 -195 0 -195 190 0 190 0 0 -185 0 -185 -190 0 -190 0 -2 -192 -3 -193 -187 -3 -188 -2 -2 192 -3 193 -192 3 -193 2 0 -195 0 -195 190 0 190 0 0 -190 0 -190 -190 0 -190 0 0 -195 0 -195 193 2 192 3 3 193 2 192 190 0 190 0 0 -195 0 -195 190 0 190 0 0 -185 0 -185 -190 0 -190 0 0 -195 0 -195 190 0 190 0 0 190 0 190 190 0 190 0 0 -190 0 -190 190 0 190 0 0 -190 0 -190 -190 0 -190 0 0 -190 0 -190 195 0 195 0 0 190 0 190 188 -2 187 -3 3 -188 2 -187 193 2 192 3 3 188 2 187 -195 0 -195 0 2 188 3 187 190 5 190 5 3 187 2 188 185 0 185 0 2 -187 3 -188 193 -3 192 -2 0 195 0 195 -190 0 -190 0 0 185 0 185 188 2 187 3 3 193 2 192 190 0 190 0 2 -192 3 -193 190 0 190 0 3 192 2 193 -192 2 -193 3 -3 187 -2 188 192 2 193 3 0 190 0 190 -192 3 -193 2 -2 -192 -3 -193 -187 -3 -188 -2 0 195 0 195 -190 0 -190 0 0 185 0 185 188 2 187 3 3 193 2 192 -195 0 -195 0 0 -190 0 -190 -185 0 -185 0 0 190 0 190 -192 2 -193 3 -3 187 -2 188 192 2 193 3 0 190 0 190 -192 3 -193 2 0 -190 0 -190 -190 0 -190 0 0 190 0 190 -195 0 -195 0 0 -195z m765 -1150 l0 -570 -187 -3 -188 -2 0 575 0 575 188 -2 187 -3 0 -570z m-385 -765 l0 -190 -567 2 -568 3 -3 188 -2 187 570 0 570 0 0 -190z m1538 3 l-3 -188 -570 0 -570 0 -3 188 -2 187 575 0 575 0 -2 -187z m-1150 -765 l-3 -573 -187 -3 -188 -2 0 575 0 575 190 0 190 0 -2 -572z'/%3e%3cpath d='M768 1218 l-3 -193 -187 -3 -188 -2 0 -190 0 -190 188 -2 187 -3 3 -187 2 -188 190 0 190 0 2 188 3 187 193 3 192 2 0 190 0 190 -192 2 -193 3 -3 193 -2 192 -190 0 -190 0 -2 -192z m382 -388 l0 -190 -190 0 -190 0 0 183 c0 101 3 187 7 190 3 4 89 7 190 7 l183 0 0 -190z'/%3e%3c/g%3e%3c/svg%3e");;
	background-repeat: repeat-x;
	background-position: top, bottom;
}

@media (min-width: 1920px) {
	.bm-cross-button {
		display: none;
	}
	.bm-burger-button {
		display: none;
	}
	.bm-overlay .bm-menu {
		left: 260px;
}
	.bm-menu {
		left: 0;
	}
	
	body {
		background-position: 260px 0;
	}
}

.bm-menu .btn-group {
	display: flex;
	width: 100%;
	margin-bottom: 60px;
}

.bm-item-list {
	color: #333;
	margin: 0 6%;
}

.bm-item-list .input-group {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}

.input-group .input-group-btn .btn {
	display: none;
}

.form-control {
    display: flex;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.innerbbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuitem {
	text-align: center;
}

.bm-burger-button {
	left: 8px;
    top: 8px;
}

.bm-burger-button .innerbbtn {
	font-size: 16px;
	border-radius: 50%;
}

.menulink {
	color: #333;
}

.panel {
    margin-bottom: 20px;
    background-color: rgb(95, 87, 78, 0.03);
    border: 1px solid transparent;
    border-radius: 8px;
}

.panelheader {
	color: rgb(95, 95, 95);
	text-decoration: none;
	text-shadow: 0.1px 0.1px;
}

.select2-container--bootstrap {
	margin-right: 20px;
	border-radius: 10px;
}

#vuepartwh_invops {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pull-right {
	margin-top: 10px;
}
